@media (max-width: 991px) {
    .main-panel {
        >.content {
            padding-top: 0;
        }
    }

    .navbar {
        height: 54px !important;
        padding-bottom: 5px;
        padding-top: 10px;
    }

    .topbar-user {
        position: absolute;
        left: 0;
        top: 15px;

        .navbar-nav {
            flex-direction: row;

            .nav-link {
                padding: 10px !important;
            }
        }
    }
}

@media (max-width: 800px) {
    table {
        .btn-icon-split {
            span.text {
                display: none;
            }
        }
    }



    .wide-table-container {
        overflow: auto;

        .dataTables_wrapper {
            min-width: 800px;
        }
    }
}

@media (max-width: 767px) {
    .main-panel {
        >.content {
            padding-left: 0;
            padding-right: 4px;
        }
    }

    .table tbody tr td {
        font-size: 10px;
        line-height: 12px;
    }

    .btn {
        font-size: 10px;
    }

    table.dataTable>tbody>tr>td:first-child {
        padding-left: 5px !important;
    }
}
