@import "material-dashboard";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~flag-icon-css/sass/flag-icon";

@import "number_inputs";
@import "sortable";
@import "responsive";

.inline {
    display: inline !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.shadow-none {
    box-shadow: none;
}

.profile-avatar {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    border-radius: 50%;
}

.login-logo {
    width: 250px;
}

#page_loader {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    color: #ffffff;
    display: flex;
}

#page_loader div {
    margin: auto;
}

.no-stretch {
    width: 1%;
    white-space: nowrap;
}

.btn-green-1 {
    color: white !important;
    @include button-variant($green-250, darken($green-250, 7.5%));
}

.btn-green-2 {
    @include button-variant($green-450, darken($green-450, 7.5%));
}

.btn-green-3 {
    @include button-variant($green-500, darken($green-500, 7.5%));
}

.btn-green-4 {
    @include button-variant($green-900, darken($green-900, 7.5%));
}

.paginate_button.page-item.active a {
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
}

//.sidebar .sidebar-wrapper > .nav [data-toggle=collapse] ~ .wrap-toggle div > ul > li > a span,
.sidebar span.sidebar-toggle {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 0;

    i {
        margin: 0;
    }
}

.sidebar .has-dropdown {
    & .sidebar-toggle i {
        transition: all ease 0.2s;
    }

    & .sidebar-toggle.collapsed i {
        transform: rotate(180deg);
        transition: all ease 0.2s;
    }
}

.font-weight-extra-bold {
    font-weight: $font-weight-extra-bold !important;
}

.text-initial {
    text-align: initial !important;
}

table .th, table .td {
    font-size: 12px;
}

#images-handler {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    counter-reset: my-badass-counter;

    .selected-images-for-offer {
        width: 150px;
        height: 150px;
        border-radius: 15px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
        background-size: cover;
        margin: 10px;
        position: relative;
        &:before {
            content: counter(my-badass-counter);
            counter-increment: my-badass-counter;
            position: relative;
            height: 100%;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 150px;
            color: #fff;
            opacity: 0.8;
            font-size: 3rem;
            text-shadow: 1px 1px 5px
            rgba(0,0,0,0.7);
            transition: all ease-in-out 0.3s;
        }

        &:hover{
            cursor: move;

            &:before{
                opacity: 0;
                transition: all ease-in-out 0.3s;
            }
            .remove-image-from-offer{
                opacity: 1;
                transition: all ease-in-out 0.3s;
            }
        }

        .remove-image-from-offer {
            position: absolute;
            z-index: 100;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all ease-in-out 0.3s;
        }

    }
}
