.about-us{
    position: relative;
    background-color: white;
    padding: 90px 0;
    padding-bottom: 270px;
    &_img-block{
        height: 812px;
        margin-left: -15px;
        margin-right: -15px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_text-block{
        margin-left: 50px;
    }
    &__h3{
        font-family: "Playfair Display", serif;
        font-size: 60px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__h2{
        font-family: "Playfair Display", serif;
        font-size: 96px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute;
        top: calc(50% - 90px);
        right: 0;
        margin: 0;
        width: 300px;
    }
    &_video-block{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 43%;
        background-color: black;
        width:100%;
        max-width: 984px;
        height: 568px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

@media all and (max-width: 1500px){
    .about-us_video-block{
        max-width: 50vw;
    }
}

@media all and (max-width: 1300px){
    .about-us_video-block{
        max-width: 50vw;
    }
    .about-us__h3{
        font-size: 40px;
    }
    .about-us__h2 {
        font-size: 56px;
        top: calc(50% - -40px);
    }
}
@media all and (max-width: 991px){
    .about-us_video-block{
        position: static;
        max-width: 100%;
        height: 400px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #fff;
        margin-top: 30px;
    }
    .about-us__h3 {
        margin-top: 30px;
    }
    .about-us__h2.h2-right{
        top: -80px;
    }
    .about-us_text-block {
        margin-left: 50px;
        padding-right: 200px;
    }
    .about-us {
        padding-bottom: 90px;
    }
    .about-us_img-block img{
        object-fit: contain;
    }
    .about-us_img-block{
        height: 420px;
    }
}

@media all and (max-width: 991px){
    .about-us__h2.h2-right{
        display: none;
    }
    .about-us_text-block {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
    }
    .about-us_video-block{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (max-width: 767px){
    .about-us_text-block{
        text-align: center;
    }
}
