.courses{
    background-image: url("/img/backgrounds/bg-courses.png");
    padding: 90px 0;
    &_img-block{
        height: 588px;
        margin-left: -15px;
        margin-right: -15px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_text-block{
        max-width: 50%;
    }
    &_text-block-mod{
        float: right;
        margin-right: 140px;
    }
}
@media all and (max-width: 991px){
    .courses{
        h3{
          font-size: 38px;
        }
    }
}

@media all and (max-width: 767px){
    .courses_text-block {
        max-width: 90%;
    }
    .courses{
        .w-50{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }
}
