.why-we {
    background-image: url("/img/backgrounds/bg-why-we.png");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 273px;
    ul {
        padding-left: 0;
        li{
            font-family: "Lato", sans-serif;
            font-size: 20px;
            margin-bottom: 40px;
            color: $black;
            position: relative;
            padding-left: 55px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 36px;
                height: 36px;
                background-image: url("/img/svg/diamond.svg");
                background-size: contain;
            }
        }
    }
}
.count{
    display: flex;
    justify-content: space-between;
    &_item{
        &__number{
            width: 111px;
            height: 111px;
            background-color: $gray-violet;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: 42px;
            font-family: "Lato", sans-serif;
            margin: auto;
            margin-bottom: 20px;
        }
    }
}
